<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA106G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>307200</param-value>
  </context-param>
  <listener>
    <listener-class>com.meetU.toolClass.InitializeStatus</listener-class>
  </listener>
  <servlet>
    <servlet-name>ProdServlet</servlet-name>
    <servlet-class>com.meetU.product.controller.ProdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdServlet</servlet-name>
    <url-pattern>/FrontEnd/prod/prod.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omServlet</servlet-name>
    <servlet-class>com.meetU.orderMaster.controller.OmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omServlet</servlet-name>
    <url-pattern>/back-end/om/om.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.meetU.post.controller.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/FrontEnd/post/post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LiveServlet</servlet-name>
    <servlet-class>com.meetU.live.controller.LiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveServlet</servlet-name>
    <url-pattern>/FrontEnd/live/live.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileRecServlet</servlet-name>
    <servlet-class>com.meetU.filerec.controller.FileRecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileRecServlet</servlet-name>
    <url-pattern>/FrontEnd/fileRec/fileRec.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Live_likeServlet</servlet-name>
    <servlet-class>com.meetU.live_like.controller.Live_likeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Live_likeServlet</servlet-name>
    <url-pattern>/FrontEnd/live_like/live_like.do</url-pattern>
  </servlet-mapping>
  
   <!--權限controller  -->
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.meetU.auth.controller.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/back-end/auth/auth.do</url-pattern>
  </servlet-mapping>
  
  <!-- 員工controller -->
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.meetU.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/back-end/emp/emp.do</url-pattern>
  </servlet-mapping>
  
  <!-- 送禮紀錄controller -->
  <servlet>
    <servlet-name>GiftServlet</servlet-name>
    <servlet-class>com.meetU.gift.controller.GiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftServlet</servlet-name>
    <url-pattern>/back-end/gift/gift.do</url-pattern>
  </servlet-mapping>
  
  <!-- 禮物盒controller -->
  <servlet>
    <servlet-name>GiftboxServlet</servlet-name>
    <servlet-class>com.meetU.giftbox.controller.GiftboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftboxServlet</servlet-name>
    <url-pattern>/back-end/giftbox/giftbox.do</url-pattern>
  </servlet-mapping>
  
 <!-- 通知controller -->
  <servlet>
    <servlet-name>InformServlet</servlet-name>
    <servlet-class>com.meetU.inform.controller.InformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformServlet</servlet-name>
    <url-pattern>/back-end/inform/inform.do</url-pattern>
  </servlet-mapping>
  
   <!-- 會員controller -->
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.meetU.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/back-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  
  <!-- 會員前端修改資料 -->
  <servlet>
    <servlet-name>FrontMemServlet</servlet-name>
    <servlet-class>com.meetU.mem.controller.FrontMemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontMemServlet</servlet-name>
    <url-pattern>/FrontEnd/mem/FrontMem.do</url-pattern>
  </servlet-mapping>
  
 <!-- 好友controller -->
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.meetU.friend.controller.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/back-end/friend/friend.do</url-pattern>
  </servlet-mapping>
  
  <!-- 員工權限controller -->
  <servlet>
    <servlet-name>EmpAuthServlet</servlet-name>
    <servlet-class>com.meetU.empAuth.controller.EmpAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAuthServlet</servlet-name>
    <url-pattern>/back-end/empAuth/empAuth.do</url-pattern>
  </servlet-mapping>
  
   <!-- 興趣controller -->
  <servlet>
    <servlet-name>HobbyServlet</servlet-name>
    <servlet-class>com.meetU.hobby.controller.HobbyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HobbyServlet</servlet-name>
    <url-pattern>/back-end/hobby/hobby.do</url-pattern>
  </servlet-mapping>
  
  <!-- 會員興趣controller -->
  <servlet>
    <servlet-name>MemHobbyServlet</servlet-name>
    <servlet-class>com.meetU.memHobby.controller.MemHobbyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemHobbyServlet</servlet-name>
    <url-pattern>/back-end/memHobby/memHobby.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MeetupServlet</servlet-name>
    <servlet-class>com.meetU.meetup.controller.MeetupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetupServlet</servlet-name>
    <url-pattern>/FrontEnd/meetup/meetup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetupMemServlet</servlet-name>
    <servlet-class>com.meetU.meetup_mem.controller.MeetupMemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetupMemServlet</servlet-name>
    <url-pattern>/FrontEnd/meetupMem/meetupMem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetupLikeServlet</servlet-name>
    <servlet-class>com.meetU.meetup_like.controller.MeetupLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetupLikeServlet</servlet-name>
    <url-pattern>/FrontEnd/meetupLike/meetupLike.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MeetupRepServlet</servlet-name>
    <servlet-class>com.meetU.meetup_report.controller.MeetupRepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetupRepServlet</servlet-name>
    <url-pattern>/back-end/meetupRep/meetupRep.do</url-pattern>
  </servlet-mapping>
  
   <!-- 後端濾器 -->   
  <filter>
    <filter-name>backLoginFilter</filter-name>
    <filter-class>com.meetU.backFilters.BackLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>backLoginFilter</filter-name>
    <url-pattern>/back-end/*</url-pattern>
    <url-pattern>/protected/select_page2_protected.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <!-- 前端濾器 -->
  <filter>
    <filter-name>frontLoginFilter</filter-name>
    <filter-class>com.meetU.frontFilters.FrontLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>frontLoginFilter</filter-name>
    <url-pattern>/protected/select_page2_protected.jsp</url-pattern>
    <url-pattern>/FrontEnd/cart/checkOut.jsp</url-pattern>
    <url-pattern>/FrontEnd/od/listMyOm.jsp</url-pattern>
    <url-pattern>/FrontEnd/meetup/listOneMeetup.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>