<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA106G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
		<servlet-name>ProdServlet</servlet-name>
		<servlet-class>com.meetU.product.controller.ProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdServlet</servlet-name>
		<url-pattern>/FrontEnd/prod/prod.do</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>ShowPic</servlet-name>
		<servlet-class>ShowPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPic</servlet-name>
		<url-pattern>/ShowPic</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LiveServlet</servlet-name>
		<servlet-class>com.meetU.live.controller.LiveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LiveServlet</servlet-name>
		<url-pattern>/FrontEnd/live/live.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>com.meetU.post.controller.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/FrontEnd/post/post.do</url-pattern>
	</servlet-mapping>
	
	<!-- 員工controller -->
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.meetU.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/back-end/emp/emp.do</url-pattern>
  </servlet-mapping>
  
  <!-- 送禮紀錄controller --> 
  <servlet>
    <servlet-name>GiftServlet</servlet-name>
    <servlet-class>com.meetU.gift.controller.GiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftServlet</servlet-name>
    <url-pattern>/back-end/gift/gift.do</url-pattern>
  </servlet-mapping>
  
  <!-- 禮物盒controller -->
  <servlet>
    <servlet-name>GiftboxServlet</servlet-name>
    <servlet-class>com.meetU.giftbox.controller.GiftboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiftboxServlet</servlet-name>
    <url-pattern>/back-end/giftbox/giftbox.do</url-pattern>
  </servlet-mapping>
  
  <!-- 通知controller -->
  <servlet>
    <servlet-name>InformServlet</servlet-name>
    <servlet-class>com.meetU.inform.controller.InformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformServlet</servlet-name>
    <url-pattern>/back-end/inform/inform.do</url-pattern>
  </servlet-mapping>
  
  <!-- 會員controller -->
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.meetU.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/back-end/mem/mem.do</url-pattern>
  </servlet-mapping>
	
</web-app>